extends ../../layouts/default.pug
include ../../mixins/messages.pug

block main
    h1 Thêm sản phẩm
    +messageError()
    +messageSuccess()
    form(action=`${PATH_ADMIN}/products/update/${product.id}?_method=PATCH`, method="post", enctype="multipart/form-data")
        div(class="form-group")
            label(for="title") Tên sản phẩm
            input(type="text", name="title", id="title" class="form-control" value=product.title)
        div(class="form-group")
            label(for="description") Mô tả
            textarea(type="text", name="description", id="description" class="form-control") #{product.description}
        div(class="form-group")
            label(for="price") Giá
            input(type="text", name="price", id="price" class="form-control" value=product.price)
        div(class="form-group")
            label(for="discountPercentage") Giảm giá (%)
            input(type="text", name="discountPercentage", id="discountPercentage" class="form-control" value=product.discountPercentage)
        div(class="form-group")
            label(for="stock") Số lượng
            input(type="number", name="stock", id="stock" class="form-control" min="1" value=product.stock)
        div(class="d-flex justify-content-evenly")
            div(class="form-group")
                label(for="thumbnail") Ảnh
                input(type="file", name="thumbnail", id="thumbnail" class="form-control-file")
            img(src=(product.thumbnail ? product.thumbnail : "#"), alt="" id="preview" width="300px")
        div(class="form-group")
            label(for="position") Vị trí
            input(type="number", name="position", id="position" class="form-control" value=product.position)
        div(class="form-group d-flex justify-content-evenly")
            input(type="radio", name="status" id="active" checked=(product.status === "active") value="active")
            label(for="active") Hoạt động
            input(type="radio" name="status" id="inactive" value="inactive" checked=(product.status === "inactive"))
            label(for="inactive") Dừng hoạt động
        div(class="form-group d-flex justify-content-center")
            button(class="btn btn-success", type="submit") Câp nhật
    script(src="/admin/js/product.js")