extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
	div(class="container my-3")
		div(class="row")
			div(class="col-12")
				+box-head("Danh sách sản phẩm")
		div(class="row")
			each product in products
				div(class="col-4 mb-3")
					div(class="product-item")
						div(class="inner-image")
							img(src=product.thumbnail, alt=product.title)
						div(class="inner-content")
							h3(class="inner-title") #{product.title}
							div(class="inner-price-new") #{product.price}$
							div(class="inner-price0-old") #{product.priceNew}$
							div(class="inner-discount") -#{product.discountPercentage}%